################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComputerPlus/v14
/ComputerPlus/PSDs
